@use "../abstracts/variables" as *;
// ==========================================================
// Accessibility
// ==========================================================

.screen-reader-text {

    position: absolute;

    width: 1px;
    height: 1px;

    padding: 0;
    margin: -1px;

    overflow: hidden;

    clip: rect(0, 0, 0, 0);

    white-space: nowrap;

    border: 0;
}

.screen-reader-text:focus {

    position: fixed;
    z-index: 100000;

    top: 10px;
    left: 10px;

    width: auto;
    height: auto;

    padding: .75rem 1rem;
    margin: 0;

    overflow: visible;

    clip: auto;

    white-space: normal;

    background: $white;
    color: $black;

    font-weight: 700;
}